[submodule "osTicket Prerequisites"]
	path = osTicket Prerequisites
	url = https://github.com/Pieratboi/osticket-prereqs.git
[submodule "osTicket Post-installation Ponfiguration"]
	path = osTicket Post-installation Ponfiguration
	url = https://github.com/Pieratboi/post-install-config.git
[submodule "osTicket Ticket Lifecycle Examples"]
	path = osTicket Ticket Lifecycle Examples
	url = https://github.com/Pieratboi/ticket-lifecycle.git
